.explicacion-tags-main {
  display: flex;

    justify-content: space-between;
    

  margin-top: 20px;

  section.tag-main-container{
    flex: 1;
    margin-right: 20px;
  }
}

.main-search-form{
  height: 90vh;
  border-radius: 20px;
  box-shadow: 2px 2px 10px 5px #e4e4e7;
  padding: 0 10px;


}
html{
  background-color: #f5fbff;
}

@media screen and (max-width: 800px) {
  .explicacion-tags-main {
        /* flex-direction: column; */
  }
    
}